<h2><%= link_to 'Home', root_path %></h2>
<h2>Edit Post</h2>
<%= form_for @post do |f| %>
    <p>
    <%= f.text_field :title, placeholder: 'enter title' %>
    <% if @post.errors.messages[:title].any? %>
    <span class="error"><%= @post.errors.messages[:title][0] %></span>
    <% end %>
    </p>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <p>
        <%= f.text_area :content, placeholder: 'enter content text' %>
        <% if @post.errors.messages[:content].any? %>
        <span class="error"><%= @post.errors.messages[:content][0] %></span>
        <% end %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>